.griditem1, .griditem2 {
    text-align: center;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    background-color:#00FFFF;
    color: navy;
    opacity: 1;
}
.griditem2 {
    word-spacing: 12px;
}

body, header {
    background: url("../images/resizedpokemon.png")no-repeat center center fixed; 
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    opacity: 0.7; 
    }

   
footer {
    text-align: center;
    /* add some thing because the git*/
}

button {
    background-color: #1F005C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 350px;
    box-shadow: 1px 6px 0px 1px #9fb4f2;
    border-radius: 10px;
    text-transform: uppercase;
}

button:hover {
    color: black !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }

